.UserProfile {
    width: 40%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
}

.UserProfile > div:not(:last-child) {
    margin-bottom: 20px;
}

.socialLink,
.socialLink img {
    display: block;
    width: 30px;
    height: 30px;
}

.UserProfile ul > li:not(:last-child) {
    margin-bottom: 20px;
}
