.NavigationItem {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem.active {
    color: rgb(97, 218, 251);
}

@media (max-width: 460px) {
    .NavigationItem {
        margin: 10px 0;
    }
}
